/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
#homepage-inner-content {
	.cobblestones-header {
		font-size: 1.8em;
		top: 0.3em;
	}
	.programs-home-title {
		font-size: 2.125em;
		top: 0.19em;
	}
}

#menu-primary-menu {
	display: block;
	width: 100%;
	background: none;
}

#mobile-menu {
	display: none;
}

.primary-nav-wrapper {
    width: 57.42em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    font-family: $proxima;
	font-weight: bold;
	line-height: 1.3em;
	font-size: 1.045em;

	li {
		float: left;
		position: relative;
	}
    ul {
    	border: 0;
    	margin: 0;
    	li {
    		margin-right: 0.3em;
    		max-width: 9em;

    		a {
    			height: 4.1866028708em;
    			padding-left: 0.5em;
    			padding-right: 0.5em;
    			padding-top: 0.9em;
    			color: #fff;
    			text-decoration: none;
    			display: block;
    			&:visited:hover, &:hover, &:focus {
					color: #fff;
					text-decoration: none;
				}
    		}
    		ul.sub-menu,
			ul.children {
				@include box-shadow(0em 0.125em 0.25em rgba(51, 51, 51, 0.7));
				background-color: #dde7be;
    			font-size: 0.875em;
				margin-top: 0;
				position: absolute;
				display: none;
				z-index: 8999;
				width: 15.25em;
	            padding-top: 0.9515625em;
	            padding-bottom: 0.9515625em;
				li {
					width: 15.25em;
					max-width: none;
					a {
						height: auto;
						padding-top: 0.625em;
						padding-left: 0.6796875em;
						padding-bottom: 0.625em;
						border-right: 0;
						display: block;
						width: 15.25em;
						color: #003479;
						&:hover,
						&:focus {
							color: #fff;
							background-color: #61865a;
						}

						&:link {}
					}
				}
			}

			/* showing sub-menus */
			&:hover ul {
				top: auto;
				display: block;
			}
    	}
    	li.last-menu-item {
    		margin-right: 0;
    	}
    }
}