/*********************
HEADER STYLES
*********************/
header.home {
    height: 29.875em;
    position: relative;
}

nav.home {
    width: 100%;
    height: 4.375em;
    z-index: 1000;
    background-color: #003479;
    background: rgba(0, 52, 121, .5);
    position: absolute;
    top: 3.3125em;
    ul {
        width: 60em;
        margin-left: auto;
        margin-right: auto;
    }
}

#menu-primary-menu {
	display: none;
}

/*********************
SLIDESHOW STYLES
*********************/
#home-slideshow-wrapper {
    max-width: 100%;
    height: 29.875em;
    position: relative;
    overflow: hidden;
    #home-slideshow {
    	width: 93.75em;
    	max-width: 100%;
    	margin-left: auto;
    	margin-right: auto;
    	position: relative;
    	.slide {
    		position: absolute;
    		z-index: 600;
    		display: none;
    	}
    	#slide1 {
    		display: block;
    	}
    }
}

.caption-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 700;
	.caption-box {
		width: 60em;
		max-width: 100%;
		height: 29.875em;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.caption {
		position: absolute;
		left: 0;
		bottom: 0;
		text-align: left;
		width: 13.75em;
		background: rgb(0, 52, 121);
		background: rgba(0, 52, 121, 0.6);
		.caption-text {
			color: #fff;
			font-family: $proxima-condensed;
			font-size: 0.875em;
			padding-top: 1.5625em;
			padding-left: 0.9375em;
			padding-right: 2.5em;
			position: relative;
			.text {
				display: none;
				a {
					color: #fff;
					text-decoration: underline;
					&:hover,
					&:focus {
						text-decoration: none;
					}
				}

			}
			#slideshow-caption1 {
				display: block;
			}
		}
		.home-slideshow-nav {
			background-image: url('../images/caption-drop-shadow.png');
			background-repeat: no-repeat;
			background-position: bottom;
			padding-top: 1.75em;
			padding-left: 1.25em;
			padding-right: 1.25em;
			padding-bottom: 0.5em;
			overflow: hidden;
			div {
				width: 0.875em;
				height: 1.3125em;
				cursor: pointer;
			}
			.left {
				float: left;
			}
			.right {
				float: right;
			}
		}
	}
}

/*********************
CONTENT STYLES
*********************/
#content.home {
	background-image: url('../images/content-background.gif');
	background-position: bottom;
	background-repeat: repeat-x;
}

#homepage-inner-content {
	.threecol, .ninecol {
		padding-top: 1.625em;
	}
	.home-section-title {
		background-color: #b9ccd5;
		border-top: 0.5625em #dce5ea solid;
		padding-top: 0.5em;
		padding-left: 0.5em;
		text-transform: uppercase;
		margin-bottom: 1.5625em;
		max-width: 100%;
		height: 3.1em;
	}
	h2 {
		font-family: $optima;
		font-size: 2em;
		color: #fff;
		padding: 0;
		margin: 0;
		line-height: 1em;
		position: relative;
		top: 0.19em;
		max-width: 100%;
		height: auto;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.home-header {
    	font-size: 20px;
    	margin-bottom: 2em;
	}
}

.event-poster {
	margin-bottom: 2em;
}

#program-listings {
	margin-bottom: 2.5em;
	.program-intro {
		font-size: 0.875em;
		margin-bottom: 1.25em;
	}
	.program-title {
		margin-bottom: 0.625em;
	}
}

#blog-listings {
	.home-section-title {
		margin-bottom: 0;
	}
	h4 {
		font-family: $proxima;
		margin: 0;
		margin-bottom: 1.125em;
		padding: 0;
		color: #cacaca;
		font-size: 0.9375em;
		font-weight: normal;
		text-align: center;
	}
}

#sponsors-and-partners {
	margin-top: 2.125em;
	h3 {
		font-family: $optima;
		font-size: 2.8125em;
		color: #d3dddd;
		padding: 0;
		margin: 0;
		line-height: 1em;
		text-transform: uppercase;
		position: relative;
		top: 0.2em;
	}
	section {
		height: 8.875em;
		div {
			height: 8.875em;
			display: table-cell;
			vertical-align: middle;
			padding-right: 2.875em;
		}
	}
}