#left-sidebar {
	img {
		max-width: 100%;
		height: auto;
	}
	background-color: #819bbd;
	@include background-image(linear-gradient(#819bbd, #65825c));
	.button-wrap {
		margin-top: 1.875em;
		margin-bottom: 1.875em;
	}
	.blue-button {
		font-family: $proxima;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.875em;
		background-color: #295083;
		margin-top: 0.9375em;
		margin-left: 1.25em;
		margin-right: 1.25em;
		span.lower-case {
			text-transform: lowercase;
		}
		a {
			display: block;
			padding-top: 0.5em;
			padding-bottom: 0.35em;
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.sidenav-spacing {
		margin-top: 1.9em;
	}

	.side-nav {
		font-family: $proxima;
		margin-top: 1.9em;
		margin-bottom: 3.875em;
		ul {
			padding-top: 3px;
			padding-bottom: 10px;
			margin: 0;
			background-color: #5d7ca5;
			li {
				a {
					padding-left: 20px;
					padding-right: 20px;
				}
				font-size: 16px;
				font-weight: bold;

				ul {
					padding-top: 0;
					li {
						font-weight: normal;
						font-size: 14px;
						ul {
							li {
								a {
									padding-left: 40px;
								}
								ul {
									li {
										a {
											padding-left: 60px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		a {
			display: block;
			padding-top: 3px;
			padding-bottom: 3px;
			color: #fff;
			text-decoration: none;
			background-color: #5d7ca5;
			&:hover,
			&:focus,
			&:active {
				background-image: url('../images/sidebar/nav-rollover-2.png');
				background-repeat: no-repeat;
				background-position: left center;
			}
		}
	}

}

.donate-button {
	font-family: $proxima;
	border: 10px #667a96 solid;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 17px;
	padding-top: 0.5625em;
	padding-bottom: 0.4em;
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	background-color: #c7cf40;
	@include background-image(linear-gradient(#c7cf40, #96b53f));
	a {
		color: #fff;
		text-decoration: none;
		display: block;
		&:hover,
		&:focus {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.charity-awards {
	text-align: center;
	overflow: hidden;
	margin-bottom: 70px;
	div {
		display: inline;
		margin-right: 8px;
	}
	.no-margin {
		margin-right: 0;
	}

}

.foa-journal {
	width: 184px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	.blurb {
		font-family: $proxima-condensed;
		font-size: 14px;
		color: #fff;
	}
}

.enews-signup {
	font-family: $proxima;
	text-align: center;
	color: #fff;
	font-size: 0.875em;
	margin-top: 3.9285714286em;
	margin-left: 1.4285714286em;
	margin-right: 1.4285714286em;
	padding-top: 0.7142857143em;
	padding-bottom: 0.5em;
	@include background-image(linear-gradient(#829f61, #3d7250));
	a {
		color: #fff;
		text-decoration: none;
		display: block;
		&:hover,
		&:focus {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.be-a-friend {
	color: #fff;
	background-image: url('../images/sidebar/be-a-friend-background.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	height: 257px;
	width: 220px;
	max-width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	h4 {
		font-family: $optima;
		font-size: 35px;
		margin-top: 15px;
		font-weight: normal;
	}
	.volunteer-button-wrapper {
		font-family: $proxima;
		position: absolute;
		bottom: 0.5em;
		width: 12.5em;
		max-width: 90%;
		margin-left: 0.625em;
		padding: 0.625em;
		font-size: 1em;
		text-transform: uppercase;
		background-color: rgba(0, 0, 0, .2);
		.volunteer-button {
			font-family: $proxima;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			@include background-image(linear-gradient(#c7cf40, #3d7250));
		}
	}
}