/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 21, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 31, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 42, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
/* line 52, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../scss/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 82, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
/* line 90, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/* line 125, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 130, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 135, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 140, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 145, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 150, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
/* line 159, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
/* line 168, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 172, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
/* line 180, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
/* line 188, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 198, ../scss/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 210, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
/* line 230, ../scss/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
/* line 239, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 244, ../scss/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
/* line 254, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 261, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 265, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 280, ../scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 284, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 294, ../scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 303, ../scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 318, ../scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
/* line 327, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
/* line 339, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
/* line 351, ../scss/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 359, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
/* line 371, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 387, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  max-width: 100%;
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 401, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
/* line 418, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 429, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
/* line 441, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
/* line 454, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
/* line 466, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
/* line 475, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 485, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 498, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 511, ../scss/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 518, ../scss/_normalize.scss */
b, strong, .strong {
  font-weight: bold;
}

/* line 520, ../scss/_normalize.scss */
dfn, em, .em {
  font-style: italic;
}

/* line 522, ../scss/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* line 524, ../scss/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
}

/* line 529, ../scss/_normalize.scss */
dd {
  margin: 0;
}

/* line 535, ../scss/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 47, ../scss/_mixins.scss */
.display-nav {
  display: block !important;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 93, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 99, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 100, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 101, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 105, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 111, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 117, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 123, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 129, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 191, ../scss/_mixins.scss */
.button, .button:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #686f04;
  border-top-color: #838d06;
  border-left-color: #838d06;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #8c9606;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3af07), to(#8c9606));
  background-image: -webkit-linear-gradient(top, #a3af07, #8c9606);
  background-image: -moz-linear-gradient(top, #a3af07, #8c9606);
  background-image: -o-linear-gradient(top, #a3af07, #8c9606);
  background-image: linear-gradient(to bottom, #a3af07, #8c9606);
}
/* line 210, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #686f04;
  border-top-color: #484d03;
  border-left-color: #484d03;
  background-color: #757e05;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8c9606), to(#757e05));
  background-image: -webkit-linear-gradient(top, #8c9606, #757e05);
  background-image: -moz-linear-gradient(top, #8c9606, #757e05);
  background-image: -o-linear-gradient(top, #8c9606, #757e05);
  background-image: linear-gradient(to bottom, #8c9606, #757e05);
}
/* line 218, ../scss/_mixins.scss */
.button:active, .button:visited:active {
  background-color: #a3af07;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8c9606), to(#a3af07));
  background-image: -webkit-linear-gradient(top, #8c9606, #a3af07);
  background-image: -moz-linear-gradient(top, #8c9606, #a3af07);
  background-image: -o-linear-gradient(top, #8c9606, #a3af07);
  background-image: linear-gradient(to bottom, #8c9606, #a3af07);
}

/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
INCLUDE COMPASS MIXINS
*********************/
/*********************
GENERAL STYLES
*********************/
/* line 25, ../scss/_base.scss */
body {
  font-family: "Minion Pro 1167271", "Georgia", Cambria, Times New Roman, Times, serif;
  font-size: 100%;
  line-height: 1.5;
  color: #333333;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/* line 36, ../scss/_base.scss */
.wrap {
  width: 96%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/
/* line 45, ../scss/_base.scss */
a, a:visited {
  color: #a3af07;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 49, ../scss/_base.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #7a8305;
}
/* line 59, ../scss/_base.scss */
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/* line 65, ../scss/_base.scss */
a.arrow:after {
  content: " \00BB";
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/* line 73, ../scss/_base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Minion Pro 1167271";
  text-rendering: optimizelegibility;
  font-weight: 500;
  /* removing text decoration from all headline links */
}
/* line 79, ../scss/_base.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 84, ../scss/_base.scss */
h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

/* line 89, ../scss/_base.scss */
h2, .h2 {
  margin: 0;
  font-size: 1.75em;
  color: #4A7729;
  font-weight: bold;
}

/* line 96, ../scss/_base.scss */
h3, .h3 {
  margin: 0;
  font-size: 1.75em;
  font-weight: normal;
  color: #4A7729;
}

/* line 103, ../scss/_base.scss */
h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
  color: #4A7729;
}

/* line 109, ../scss/_base.scss */
h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/
/* line 121, ../scss/_base.scss */
header .search-form-wrapper {
  width: 100%;
  z-index: 800;
}
/* line 125, ../scss/_base.scss */
header .search-form-wrapper .search-form {
  width: 60em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 131, ../scss/_base.scss */
header .search-form-wrapper .search-form #searchform {
  margin-bottom: 0.625em;
  right: 0;
  margin-top: 0.625em;
}
/* line 136, ../scss/_base.scss */
header .search-form-wrapper .search-form #searchform #s {
  background-image: url("../images/search-magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: 0.25em 0.3125em;
  width: 9.1875em;
  height: 1.875em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1.6875em;
  color: #ccc;
}
/* line 147, ../scss/_base.scss */
header .search-form-wrapper .search-form #searchform #searchsubmit {
  color: #fff;
  height: 1.875em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
  background-color: #234f33;
  border: 0;
  /*@include background-image(linear-gradient(#4e72a1, #174784));*/
}

/* line 162, ../scss/_base.scss */
header.interior {
  position: relative;
}

/* line 166, ../scss/_base.scss */
#page-banner {
  width: 93.75em;
  max-width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* line 174, ../scss/_base.scss */
#menu-primary-menu {
  width: 18.75em;
  margin-top: 0;
  background-color: #003479;
}

/* line 183, ../scss/_base.scss */
.primary-nav-wrapper ul li a {
  color: #fff;
  display: block;
  padding: 0.5em;
  text-decoration: none;
}
/* line 188, ../scss/_base.scss */
.primary-nav-wrapper ul li a:hover {
  background-color: #346796;
  background-color: #234F33;
  color: #fff;
  text-decoration: underline;
}
/* line 197, ../scss/_base.scss */
.primary-nav-wrapper .sub-menu {
  display: none;
}

/* line 202, ../scss/_base.scss */
#mobile-menu, #mobile-section-menu, #quick-links-menu {
  cursor: pointer;
  font-family: "Proxima N W15 Reg";
  border: 0.625em #667a96 solid;
  padding-top: 0.8em;
  color: #fff;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  background-color: #c7cf40;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c7cf40), color-stop(100%, #96b53f));
  background-image: -webkit-linear-gradient(#c7cf40, #96b53f);
  background-image: -moz-linear-gradient(#c7cf40, #96b53f);
  background-image: -o-linear-gradient(#c7cf40, #96b53f);
  background-image: linear-gradient(#c7cf40, #96b53f);
}
/* line 213, ../scss/_base.scss */
#mobile-menu a, #mobile-section-menu a, #quick-links-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
}
/* line 218, ../scss/_base.scss */
#mobile-menu a:hover, #mobile-menu a:focus, #mobile-section-menu a:hover, #mobile-section-menu a:focus, #quick-links-menu a:hover, #quick-links-menu a:focus {
  color: #fff;
  text-decoration: underline;
}

/* line 225, ../scss/_base.scss */
#mobile-section-menu-items, #quick-links-menu-items {
  display: none;
}
/* line 227, ../scss/_base.scss */
#mobile-section-menu-items ul, #quick-links-menu-items ul {
  margin: 0;
  background-color: #003479;
}
/* line 231, ../scss/_base.scss */
#mobile-section-menu-items ul li ul, #quick-links-menu-items ul li ul {
  padding-left: 0.8em;
}
/* line 235, ../scss/_base.scss */
#mobile-section-menu-items ul a, #quick-links-menu-items ul a {
  display: block;
  color: #fff;
  padding: 0.8em;
  text-decoration: none;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 248, ../scss/_base.scss */
.breadcrumbs {
  font-size: 0.75em;
  color: #999999;
  margin-top: 0.875em;
  margin-bottom: 1.0625em;
  text-transform: uppercase;
}
/* line 254, ../scss/_base.scss */
.breadcrumbs a {
  color: #234f33;
  text-decoration: none;
}
/* line 257, ../scss/_base.scss */
.breadcrumbs a:hover {
  text-decoration: underline;
}

/* line 263, ../scss/_base.scss */
#menu-primary-menu {
  max-width: 100%;
}

/* line 268, ../scss/_base.scss */
.primary-nav-wrapper .logo {
  float: left;
  position: relative;
  top: -0.25em;
  margin-right: 0.625em;
  width: 9em;
}
/* line 274, ../scss/_base.scss */
.primary-nav-wrapper .logo img {
  max-width: 100%;
  height: auto;
}

/* line 281, ../scss/_base.scss */
#home-header {
  display: none;
}

/* line 285, ../scss/_base.scss */
#mini-donate-button {
  margin-top: 0.4em;
  float: left;
}
/* line 288, ../scss/_base.scss */
#mini-donate-button a {
  padding-left: 0.3125em;
  padding-right: 0.3125em;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 297, ../scss/_base.scss */
#container {
  max-width: 100%;
}

/* line 301, ../scss/_base.scss */
.how-you-can-help {
  clear: both;
  padding: 0.5em;
  border: 0.625em #a4ce9c solid;
  margin-bottom: 0.625em;
}

/* line 308, ../scss/_base.scss */
.article-listing {
  font-size: 0.9375em;
  color: #333333;
}
/* line 311, ../scss/_base.scss */
.article-listing article {
  margin-bottom: 1.5771484375em;
}
/* line 314, ../scss/_base.scss */
.article-listing article header h3 {
  font-size: 1.1em;
  color: #0047a5;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
/* line 321, ../scss/_base.scss */
.article-listing article header h3 a {
  color: #0047a5;
}
/* line 323, ../scss/_base.scss */
.article-listing article header h3 a:hover {
  text-decoration: underline;
}
/* line 329, ../scss/_base.scss */
.article-listing article .photo {
  margin-top: 0.3154296875em;
}
/* line 333, ../scss/_base.scss */
.article-listing article footer {
  font-size: 0.8em;
  color: #666666;
}
/* line 338, ../scss/_base.scss */
.article-listing .archive-link {
  text-align: center;
  color: #8da1cc;
}
/* line 341, ../scss/_base.scss */
.article-listing .archive-link a {
  color: #A3AF07;
  text-decoration: none;
}
/* line 345, ../scss/_base.scss */
.article-listing .archive-link a:hover {
  text-decoration: underline;
}
/* line 349, ../scss/_base.scss */
.article-listing .archive-link img {
  position: relative;
  top: 0.126171875em;
  margin-left: 0.883203125em;
}

/* line 357, ../scss/_base.scss */
.newsroom-category {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

/* line 362, ../scss/_base.scss */
#page-content {
  font-size: 1em;
}

/* line 366, ../scss/_base.scss */
.padding-for-bottom {
  height: 4em;
}

/* line 370, ../scss/_base.scss */
#inner-content {
  overflow: hidden;
}

/* line 374, ../scss/_base.scss */
#content {
  /*background-image: url('../images/content-background-interior.gif');
  background-position: bottom;
  background-repeat: repeat-x;*/
}

/* line 380, ../scss/_base.scss */
#main {
  margin-bottom: 7.875em;
}

/* end .hentry */
/* line 388, ../scss/_base.scss */
article.archive-page {
  margin-bottom: 0;
}

/* line 393, ../scss/_base.scss */
.single-title,
.page-title-wrapper {
  background-color: #b9ccd5;
  padding-left: 0.625em;
  background-color: #234F33;
}

/* line 398, ../scss/_base.scss */
.page-title, .archive-title {
  font-family: "Optima LT W01 Roman";
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  margin-bottom: 1.25em;
  position: relative;
  top: 0.35em;
}

/* line 409, ../scss/_base.scss */
.featured-image {
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  line-height: 0;
}
/* line 414, ../scss/_base.scss */
.featured-image img {
  margin: 0;
}
/* line 417, ../scss/_base.scss */
.featured-image .featured-image-caption {
  margin: 0;
  padding: 0.875em;
  color: #fff;
  background-color: #62845a;
  font-size: 1.25em;
  line-height: 1.4em;
}
/* line 424, ../scss/_base.scss */
.featured-image .featured-image-caption a {
  color: #fff;
}
/* line 426, ../scss/_base.scss */
.featured-image .featured-image-caption a:hover {
  text-decoration: none;
}

/* post meta */
/* line 434, ../scss/_base.scss */
.byline {
  color: #999;
  margin-top: 0.3em;
  margin-bottom: 0.625em;
  line-height: 0.5em;
}

/* line 442, ../scss/_base.scss */
.archive-listing {
  margin-bottom: 2em;
}

/* line 446, ../scss/_base.scss */
.insertaside {
  width: 25em !important;
}

/* entry content */
/* line 451, ../scss/_base.scss */
.entry-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */
}
/* line 453, ../scss/_base.scss */
.entry-content h2 {
  font-family: "Optima LT W01 Bold";
}
/* line 457, ../scss/_base.scss */
.entry-content h3 {
  font-family: "Optima LT W01 Roman";
  line-height: 1.2em;
}
/* line 462, ../scss/_base.scss */
.entry-content h4 {
  font-family: "Optima LT W01 Roman";
}
/* line 477, ../scss/_base.scss */
.entry-content ul {
  list-style-type: disc;
  margin-left: 3.125em;
}
/* line 483, ../scss/_base.scss */
.entry-content ol {
  margin-left: 3.125em;
  list-style-type: decimal;
}
/* line 500, ../scss/_base.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 507, ../scss/_base.scss */
.entry-content img {
  max-width: 100%;
  height: auto;
}
/* line 520, ../scss/_base.scss */
.entry-content .alignright, .entry-content img.alignright {
  border: 0.625em #e0e6df solid;
}
/* line 523, ../scss/_base.scss */
.entry-content .alignnone, .entry-content img.alignnone {
  border: 0.625em #e0e6df solid;
}
/* line 528, ../scss/_base.scss */
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}
/* line 533, ../scss/_base.scss */
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

/* end .entry-content */
/* line 541, ../scss/_base.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 0.625em;
  background-color: #e0e6df;
  line-height: auto;
  /* images inside wp-caption */
}
/* line 549, ../scss/_base.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 555, ../scss/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.875em;
  margin: 4px 0 7px;
  color: #666666;
}

/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/* line 588, ../scss/_base.scss */
#ll-bean-logo {
  position: relative;
  text-align: center;
  margin-bottom: 2.0em;
}

/* line 594, ../scss/_base.scss */
#mobile-enews-signup {
  margin-bottom: 2em;
}

/* line 599, ../scss/_base.scss */
#foa-journal-archive-table td {
  padding: 0.625em;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 609, ../scss/_base.scss */
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* line 612, ../scss/_base.scss */
.bones_page_navi {
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
/* line 614, ../scss/_base.scss */
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
/* line 618, ../scss/_base.scss */
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
/* line 625, ../scss/_base.scss */
.bones_page_navi li a:hover, .bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
/* line 634, ../scss/_base.scss */
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
/* line 639, ../scss/_base.scss */
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */
}
/* line 650, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
/* line 653, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
/* line 662, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}

/* end .bones_page_navi */
/* fallback previous & next links */
/* line 705, ../scss/_base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 709, ../scss/_base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 720, ../scss/_base.scss */
#comments {
  /* number of comments span */
}

/* line 737, ../scss/_base.scss */
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
/* line 739, ../scss/_base.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
/* line 747, ../scss/_base.scss */
.commentlist li:last-child {
  margin-bottom: 0;
}
/* line 751, ../scss/_base.scss */
.commentlist li ul.children {
  margin: 0;
  margin-left: 4em;
  /* variations */
  /* change number for different depth */
}
/* line 769, ../scss/_base.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
/* line 773, ../scss/_base.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 778, ../scss/_base.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
/* line 792, ../scss/_base.scss */
.commentlist .odd {
  background: #eee;
}
/* line 795, ../scss/_base.scss */
.commentlist .even {
  background: #fefefe;
}
/* line 810, ../scss/_base.scss */
.commentlist .vcard {
  margin-left: 50px;
}
/* line 813, ../scss/_base.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 821, ../scss/_base.scss */
.commentlist .vcard time {
  float: right;
}
/* line 824, ../scss/_base.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
/* line 828, ../scss/_base.scss */
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
/* line 838, ../scss/_base.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
/* line 863, ../scss/_base.scss */
.commentlist .comment_content {
  margin-left: 50px;
}
/* line 866, ../scss/_base.scss */
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 875, ../scss/_base.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
/* line 887, ../scss/_base.scss */
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
  opacity: 1;
}

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 899, ../scss/_base.scss */
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
/* line 903, ../scss/_base.scss */
.respond-form form {
  margin: 0.75em 0;
}
/* line 906, ../scss/_base.scss */
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 912, ../scss/_base.scss */
.respond-form form li label,
.respond-form form li small {
  display: none;
}
/* line 920, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
/* line 926, ../scss/_base.scss */
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
/* line 931, ../scss/_base.scss */
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* line 944, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
/* line 949, ../scss/_base.scss */
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* comment submit button */
/* comment form title */
/* line 962, ../scss/_base.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 975, ../scss/_base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 980, ../scss/_base.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
FORM STYLES
*********************/
/* line 987, ../scss/_base.scss */
span.wpcf7-list-item {
  display: block;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 1003, ../scss/_base.scss */
.widget ul li {
  /* deep nesting */
}

/*********************
LEFT SIDEBAR
*********************/
/* line 1023, ../scss/_base.scss */
#left-sidebar {
  display: none;
  /*background-color: #819bbd;
  @include background-image(linear-gradient(#819bbd, #65825c));*/
  background-color: #728d86;
  background-color: #4A7729;
}
/* line 1025, ../scss/_base.scss */
#left-sidebar #foa_sidebar {
  width: 11.25em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 1030, ../scss/_base.scss */
#left-sidebar #foa_sidebar .journal-cover {
  position: absolute;
  right: 0;
}
/* line 1035, ../scss/_base.scss */
#left-sidebar #foa_sidebar .foa_sidebar_text {
  position: absolute;
  bottom: 0;
  left: 0.78125em;
  width: 10.234375em;
  z-index: 500;
  color: #fff;
  padding: 0.625em;
  font-size: 0.8em;
  background-color: #6b809f;
  background: rgba(107, 128, 159, 0.75);
}
/* line 1046, ../scss/_base.scss */
#left-sidebar #foa_sidebar .foa_sidebar_text a {
  color: #fff;
}
/* line 1052, ../scss/_base.scss */
#left-sidebar img {
  max-width: 100%;
  height: auto;
}
/* line 1062, ../scss/_base.scss */
#left-sidebar .content {
  padding: 0px 20px 20px 20px;
  color: #fff;
  font-family: "Proxima N W15 Reg";
}
/* line 1067, ../scss/_base.scss */
#left-sidebar .content h2 {
  font-family: 'Optima LT W01 Roman';
}
/* line 1071, ../scss/_base.scss */
#left-sidebar .content p {
  font-size: .9em;
  line-height: 1.3em;
}
/* line 1077, ../scss/_base.scss */
#left-sidebar .button-wrap {
  margin-top: 1.875em;
  margin-bottom: 1.875em;
}
/* line 1082, ../scss/_base.scss */
#left-sidebar .sidenav-spacing {
  margin-top: 1.9em;
}
/* line 1086, ../scss/_base.scss */
#left-sidebar .social-media {
  overflow: hidden;
}
/* line 1088, ../scss/_base.scss */
#left-sidebar .social-media div {
  float: left;
  margin-right: 0.4615384615em;
}
/* line 1094, ../scss/_base.scss */
#left-sidebar .side-nav {
  font-family: "Proxima N W15 Reg";
  margin-top: 1.9em;
  margin-bottom: 3.875em;
}
/* line 1099, ../scss/_base.scss */
#left-sidebar .side-nav .current-menu-item > a {
  background-image: url("../images/sidebar/nav-rollover-2.png");
  background-repeat: no-repeat;
  background-position: left center;
}
/* line 1105, ../scss/_base.scss */
#left-sidebar .side-nav ul {
  padding-top: 3px;
  padding-bottom: 10px;
  margin: 0;
  background-color: #4a7729;
}
/* line 1110, ../scss/_base.scss */
#left-sidebar .side-nav ul li {
  font-size: 16px;
  font-weight: bold;
}
/* line 1111, ../scss/_base.scss */
#left-sidebar .side-nav ul li a {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 1118, ../scss/_base.scss */
#left-sidebar .side-nav ul li ul {
  padding-top: 0;
}
/* line 1120, ../scss/_base.scss */
#left-sidebar .side-nav ul li ul li {
  font-weight: normal;
  font-size: 14px;
}
/* line 1125, ../scss/_base.scss */
#left-sidebar .side-nav ul li ul li ul li a {
  padding-left: 40px;
}
/* line 1130, ../scss/_base.scss */
#left-sidebar .side-nav ul li ul li ul li ul li a {
  padding-left: 60px;
}
/* line 1141, ../scss/_base.scss */
#left-sidebar .side-nav a {
  background-image: none;
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #fff;
  text-decoration: none;
  background-color: #4a7729;
}
/* line 1151, ../scss/_base.scss */
#left-sidebar .side-nav a:hover, #left-sidebar .side-nav a:focus, #left-sidebar .side-nav a:active {
  background-image: url("../images/sidebar/nav-rollover-2.png");
  background-repeat: no-repeat;
  background-position: left center;
}

/* line 1161, ../scss/_base.scss */
.blue-button {
  font-family: "Proxima N W15 Reg";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875em;
  background-color: #295083;
  margin-top: 0.9375em;
  margin-left: 1.25em;
  margin-right: 1.25em;
}
/* line 1171, ../scss/_base.scss */
.blue-button span.lower-case {
  text-transform: lowercase;
}
/* line 1174, ../scss/_base.scss */
.blue-button a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.35em;
  color: #fff;
  text-decoration: none;
}
/* line 1180, ../scss/_base.scss */
.blue-button a:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 1187, ../scss/_base.scss */
.donate-button {
  font-family: "Proxima N W15 Reg";
  border: 10px #667a96 solid;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 17px;
  padding-top: 0.5625em;
  padding-bottom: 0.4em;
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #1c1475;
  /*@include background-image(linear-gradient(#c7cf40, #96b53f));*/
}
/* line 1201, ../scss/_base.scss */
.donate-button a {
  color: #fff;
  text-decoration: none;
  display: block;
}
/* line 1206, ../scss/_base.scss */
.donate-button a:hover, .donate-button a:focus {
  color: #fff;
  text-decoration: underline;
}
/* line 1212, ../scss/_base.scss */
.donate-button .smaller {
  display: block;
  margin-top: 2px;
  font-size: 12px;
}

/* line 1219, ../scss/_base.scss */
.charity-awards {
  text-align: center;
  overflow: hidden;
  margin-bottom: 70px;
}
/* line 1223, ../scss/_base.scss */
.charity-awards div {
  display: inline;
  margin-right: 8px;
}
/* line 1227, ../scss/_base.scss */
.charity-awards .no-margin {
  margin-right: 0;
}

/* line 1233, ../scss/_base.scss */
.foa-journal {
  width: 184px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 1238, ../scss/_base.scss */
.foa-journal .blurb {
  font-family: "Proxima N W15 Cd Reg";
  font-size: 14px;
  color: #fff;
}

/* line 1245, ../scss/_base.scss */
.foa-journal-button {
  font-family: "Proxima N W15 Reg";
  text-align: center;
  color: #fff;
  font-size: 0.875em;
  margin-left: 1.4285714286em;
  margin-right: 1.4285714286em;
  padding-top: 0.7142857143em;
  padding-bottom: 0.5em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #829f61), color-stop(100%, #3d7250));
  background-image: -webkit-linear-gradient(#829f61, #3d7250);
  background-image: -moz-linear-gradient(#829f61, #3d7250);
  background-image: -o-linear-gradient(#829f61, #3d7250);
  background-image: linear-gradient(#829f61, #3d7250);
}
/* line 1255, ../scss/_base.scss */
.foa-journal-button a {
  color: #fff;
  text-decoration: none;
  display: block;
}
/* line 1260, ../scss/_base.scss */
.foa-journal-button a:hover, .foa-journal-button a:focus {
  color: #fff;
  text-decoration: underline;
}

/* line 1267, ../scss/_base.scss */
.enews-signup {
  font-family: "Proxima N W15 Reg";
  text-align: center;
  color: #fff;
  font-size: 0.875em;
  margin-top: 3.9285714286em;
  margin-left: 1.4285714286em;
  margin-right: 1.4285714286em;
  padding-top: 0.7142857143em;
  padding-bottom: 0.5em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #829f61), color-stop(100%, #3d7250));
  background-image: -webkit-linear-gradient(#829f61, #3d7250);
  background-image: -moz-linear-gradient(#829f61, #3d7250);
  background-image: -o-linear-gradient(#829f61, #3d7250);
  background-image: linear-gradient(#829f61, #3d7250);
}
/* line 1278, ../scss/_base.scss */
.enews-signup a {
  color: #fff;
  text-decoration: none;
  display: block;
}
/* line 1283, ../scss/_base.scss */
.enews-signup a:hover, .enews-signup a:focus {
  color: #fff;
  text-decoration: underline;
}

/* line 1290, ../scss/_base.scss */
.be-a-friend {
  color: #fff;
  background-image: url("../images/sidebar/be-a-friend-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 257px;
  width: 220px;
  max-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
/* line 1301, ../scss/_base.scss */
.be-a-friend h4 {
  color: #fff;
  font-family: "Optima LT W01 Roman";
  font-size: 35px;
  margin-top: 15px;
  font-weight: normal;
}
/* line 1308, ../scss/_base.scss */
.be-a-friend .volunteer-button-wrapper {
  font-family: "Proxima N W15 Reg";
  position: absolute;
  bottom: 0.5em;
  width: 12.5em;
  max-width: 90%;
  margin-left: 0.625em;
  padding: 0.625em;
  font-size: 1em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 1319, ../scss/_base.scss */
.be-a-friend .volunteer-button-wrapper .volunteer-button {
  font-family: "Proxima N W15 Reg";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c7cf40), color-stop(100%, #3d7250));
  background-image: -webkit-linear-gradient(#c7cf40, #3d7250);
  background-image: -moz-linear-gradient(#c7cf40, #3d7250);
  background-image: -o-linear-gradient(#c7cf40, #3d7250);
  background-image: linear-gradient(#c7cf40, #3d7250);
}
/* line 1322, ../scss/_base.scss */
.be-a-friend .volunteer-button-wrapper .volunteer-button a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #ffffff;
  text-decoration: none;
}
/* line 1328, ../scss/_base.scss */
.be-a-friend .volunteer-button-wrapper .volunteer-button a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/*********************
EMAIL SIGNUP LINK
*********************/
/* line 1340, ../scss/_base.scss */
#enews-bottom {
  position: absolute;
  bottom: 0;
}
/* line 1344, ../scss/_base.scss */
#enews-bottom h3 {
  font-size: 2.8125em;
  color: #d3dddd;
  padding: 0;
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
  position: relative;
  top: 0.1333333333em;
}
/* line 1354, ../scss/_base.scss */
#enews-bottom section {
  padding-top: 0.2222222222em;
  padding-left: 5.1875em;
  height: 5.0625em;
}
/* line 1358, ../scss/_base.scss */
#enews-bottom section p {
  margin-top: 0;
  padding: 0;
  font-size: 0.875em;
}
/* line 1364, ../scss/_base.scss */
#enews-bottom section .email-signup-button a {
  display: inline;
  padding: 0.625em 1.25em;
  font-size: 0.875em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: inline;
  background-color: #3d7250;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #829f61), color-stop(100%, #3d7250));
  background-image: -webkit-linear-gradient(#829f61, #3d7250);
  background-image: -moz-linear-gradient(#829f61, #3d7250);
  background-image: -o-linear-gradient(#829f61, #3d7250);
  background-image: linear-gradient(#829f61, #3d7250);
}
/* line 1375, ../scss/_base.scss */
#enews-bottom section .email-signup-button a:hover {
  text-decoration: underline;
}

/*********************
FOOTER STYLES
*********************/
/* line 1387, ../scss/_base.scss */
.footer {
  clear: both;
  background-color: #335d94;
  background-color: #234f33;
}

/* line 1393, ../scss/_base.scss */
#inner-footer {
  font-family: "Proxima N W15 Cd Reg";
  /*background-image: url('../images/footer/trees.png');
  background-repeat: no-repeat;
  background-position: top right;*/
}

/* line 1400, ../scss/_base.scss */
.footer-contact {
  font-family: "Proxima N W15 Reg";
  font-size: 0.8125em;
  margin-top: 2.0769230769em;
  padding: 1.5384615385em 0.9230769231em 1.6923076923em 1.9230769231em;
  border: 0.6923076923em #284c80 solid;
  background-color: #1d3b6d;
  background-color: #234F33;
  background-color: #4A7729;
  border-color: #A3AF07;
  color: #fff;
}
/* line 1411, ../scss/_base.scss */
.footer-contact .social-media {
  overflow: hidden;
}
/* line 1413, ../scss/_base.scss */
.footer-contact .social-media div {
  float: left;
  margin-right: 0.4615384615em;
}
/* line 1418, ../scss/_base.scss */
.footer-contact h5 {
  font-family: "Optima LT W01 Roman";
  font-size: 1.7em;
  line-height: 1.1em;
  margin-top: 0.4em;
  margin-bottom: 0.75em;
}
/* line 1425, ../scss/_base.scss */
.footer-contact .links {
  margin-top: 0.3846153846em;
}
/* line 1428, ../scss/_base.scss */
.footer-contact a {
  color: #A3AF07;
  text-decoration: none;
}
/* line 1431, ../scss/_base.scss */
.footer-contact a:hover {
  text-decoration: underline;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* end .footer-links */
/* line 1456, ../scss/_base.scss */
.footer-nav {
  margin-top: 1.9285714286em;
  font-size: 0.875em;
}
/* line 1459, ../scss/_base.scss */
.footer-nav ul {
  font-weight: bold;
}
/* line 1461, ../scss/_base.scss */
.footer-nav ul li {
  margin-bottom: 0.9285714286em;
}
/* line 1464, ../scss/_base.scss */
.footer-nav ul ul {
  font-weight: normal;
  margin: 0;
  margin-left: 1.0714285714em;
}
/* line 1468, ../scss/_base.scss */
.footer-nav ul ul li {
  margin-bottom: 0;
}
/* line 1473, ../scss/_base.scss */
.footer-nav a {
  color: #fff;
  text-decoration: none;
}
/* line 1476, ../scss/_base.scss */
.footer-nav a:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 1484, ../scss/_base.scss */
.copyright {
  text-align: right;
  margin-right: 5.4545454545em;
  color: #fff;
  font-size: 0.6875em;
  /* 11px */
  padding-bottom: 0.4545454545em;
}

/*********************
HOMEPAGE STYLES
*********************/
/*********************
HEADER STYLES
*********************/
/* line 1500, ../scss/_base.scss */
header.home {
  position: relative;
}

/* line 1505, ../scss/_base.scss */
nav.home {
  width: 100%;
  height: 4.375em;
  z-index: 1000;
  background-color: #003479;
  background: rgba(0, 52, 121, 0.5);
  position: absolute;
  top: 3.3125em;
}
/* line 1513, ../scss/_base.scss */
nav.home ul {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
}

/* line 1520, ../scss/_base.scss */
#menu-primary-menu {
  display: none;
}

/*********************
SLIDESHOW STYLES
*********************/
/* line 1527, ../scss/_base.scss */
#home-slideshow-wrapper {
  max-width: 100%;
  height: 12em;
  height: 15em;
  position: relative;
  overflow: hidden;
}
/* line 1533, ../scss/_base.scss */
#home-slideshow-wrapper #home-slideshow {
  width: 93.75em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 1539, ../scss/_base.scss */
#home-slideshow-wrapper #home-slideshow .slide {
  position: absolute;
  z-index: 600;
  display: none;
}
/* line 1543, ../scss/_base.scss */
#home-slideshow-wrapper #home-slideshow .slide img {
  width: 100%;
  height: auto;
}
/* line 1548, ../scss/_base.scss */
#home-slideshow-wrapper #home-slideshow #slide1 {
  display: block;
}

/* line 1554, ../scss/_base.scss */
.caption-wrapper {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 700;
}
/* line 1560, ../scss/_base.scss */
.caption-wrapper .caption-box {
  width: 60em;
  max-width: 100%;
  height: 29.875em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 1568, ../scss/_base.scss */
.caption-wrapper .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  width: 13.75em;
  background: #003479;
  background: rgba(0, 52, 121, 0.6);
  background: rgba(35, 79, 51, 0.9);
}
/* line 1577, ../scss/_base.scss */
.caption-wrapper .caption .caption-text {
  color: #fff;
  font-family: "Proxima N W15 Cd Reg";
  font-size: 0.875em;
  padding-top: 1.5625em;
  padding-left: 0.9375em;
  padding-right: 2.5em;
  position: relative;
}
/* line 1585, ../scss/_base.scss */
.caption-wrapper .caption .caption-text .text {
  display: none;
}
/* line 1587, ../scss/_base.scss */
.caption-wrapper .caption .caption-text .text a {
  color: #fff;
  text-decoration: underline;
}
/* line 1591, ../scss/_base.scss */
.caption-wrapper .caption .caption-text .text a:hover, .caption-wrapper .caption .caption-text .text a:focus {
  text-decoration: none;
}
/* line 1597, ../scss/_base.scss */
.caption-wrapper .caption .caption-text #slideshow-caption1 {
  display: block;
}
/* line 1601, ../scss/_base.scss */
.caption-wrapper .caption .home-slideshow-nav {
  background-image: url("../images/caption-drop-shadow.png");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 1.75em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-bottom: 0.5em;
  overflow: hidden;
}
/* line 1610, ../scss/_base.scss */
.caption-wrapper .caption .home-slideshow-nav div {
  width: 0.875em;
  height: 1.3125em;
  cursor: pointer;
}
/* line 1615, ../scss/_base.scss */
.caption-wrapper .caption .home-slideshow-nav .left {
  float: left;
}
/* line 1618, ../scss/_base.scss */
.caption-wrapper .caption .home-slideshow-nav .right {
  float: right;
}

/*********************
CONTENT STYLES
*********************/
/* line 1628, ../scss/_base.scss */
#content.home {
  /*background-image: url('../images/content-background.gif');
  background-position: bottom;
  background-repeat: repeat-x;*/
}

/* line 1635, ../scss/_base.scss */
#homepage-inner-content .threecol, #homepage-inner-content .ninecol {
  padding-top: 1.625em;
}
/* line 1638, ../scss/_base.scss */
#homepage-inner-content .home-section-title {
  background-color: #b9ccd5;
  background-color: #234F33;
  border-top: 0.5625em #dce5ea solid;
  border-top: 0.5625em #4A7729 solid;
  padding-top: 0.5em;
  padding-left: 0.5em;
  text-transform: uppercase;
  margin-bottom: 1.5625em;
  max-width: 100%;
  height: 3.1em;
}
/* line 1650, ../scss/_base.scss */
#homepage-inner-content h2 {
  font-family: "Optima LT W01 Roman";
  font-size: 1.8em;
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: 1em;
  position: relative;
  top: 0.19em;
  max-width: 100%;
  height: auto;
}
/* line 1662, ../scss/_base.scss */
#homepage-inner-content img {
  max-width: 100%;
  height: auto;
}
/* line 1666, ../scss/_base.scss */
#homepage-inner-content #home-header {
  font-family: "Proxima N W15 Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  margin-bottom: 1em;
  color: #4A7729;
}
/* line 1676, ../scss/_base.scss */
#homepage-inner-content #home-content-column article a {
  text-decoration: none;
  text-align: center;
}
/* line 1684, ../scss/_base.scss */
#homepage-inner-content #home-content-column article.partner .blurb {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 1688, ../scss/_base.scss */
#homepage-inner-content #home-content-column article.partner a.arrow {
  float: right;
}

/* line 1696, ../scss/_base.scss */
.event-poster {
  margin-bottom: 2em;
}

/* line 1700, ../scss/_base.scss */
#program-listings {
  margin-bottom: 2.5em;
}
/* line 1702, ../scss/_base.scss */
#program-listings .program-intro {
  font-size: 0.875em;
  margin-bottom: 1.25em;
}
/* line 1706, ../scss/_base.scss */
#program-listings .program-title {
  margin-bottom: 0.625em;
}

/* line 1712, ../scss/_base.scss */
#blog-listings .home-section-title {
  margin-bottom: 0;
}
/* line 1715, ../scss/_base.scss */
#blog-listings h4 {
  font-family: "Proxima N W15 Reg";
  margin: 0;
  margin-bottom: 1.125em;
  padding: 0;
  color: #cacaca;
  font-size: 0.9375em;
  font-weight: normal;
  text-align: center;
}

/* line 1727, ../scss/_base.scss */
#sponsors-and-partners {
  background-color: #fff;
  border-top: 10px solid #234f33;
}

#sponsors-and-partners .thank-you h3{
  font-size: 1.8em;
  padding: 2px 0;
  font-family: "Optima LT W01 Roman";
}
#sponsors-and-partners .thank-you h3 a{
  font-size: .69em;
  color:#4A7729;
}
#sponsors-and-partners .thank-you h3 a:before{
  content: "  |  ";
  color: #4A7729;


}



/* line 1731, ../scss/_base.scss */
#sponsors-and-partners .left-column {
  padding: 20px 0px 0px 0px;
}
/* line 1734, ../scss/_base.scss */
#sponsors-and-partners .left-column h3 {
  font-family: "Proxima N W15 Reg";
  font-size: 1em;
  line-height: normal;
  color: #234f33;
  text-transform: uppercase;
}
/* line 1742, ../scss/_base.scss */
#sponsors-and-partners .left-column a {
  font-family: "Proxima N W15 Reg";
  text-decoration: none;
}
/* line 1748, ../scss/_base.scss */
#sponsors-and-partners .logos {
  /*height: 8.875em;*/
  margin: 0 auto;
  display: table;
  text-align: center;
  padding: 20px 0px;
  padding-top: 10px;
}
/* line 1754, ../scss/_base.scss */
#sponsors-and-partners .logos div {
  display: table-cell;
  vertical-align: middle;
  display:inline-block;

}
/* line 1759, ../scss/_base.scss */
#sponsors-and-partners .logos img {
  width: 50%;
  height: auto;
  max-height: 100px;
  width: auto;
}

/* line 1770, ../scss/_base.scss */
body.single-sponsors .entry-content img {
  display: block;
  margin: 0px auto;
  margin-bottom: 20px;
}

/* line 1778, ../scss/_base.scss */
.timeline {
  height: auto!important;
  background-image: none!important;
}

/* line 1783, ../scss/_base.scss */
.timeline .issues li {
  height: auto!important;
}

/* line 1787, ../scss/_base.scss */
.timeline ul.dates {
  display: none!important;
}

/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: 481px and Up Stylesheet

  This stylesheet is loaded for larger devices. It's set to
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection.

  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.

  ******************************************************************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /* .menu is clearfixed inside mixins.scss */
  /* line 27, ../scss/_481up.scss */
  .menu {
    /* end .menu ul */
  }
  /* line 28, ../scss/_481up.scss */
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  /* line 29, ../scss/_481up.scss */
  .menu ul li {
    /*
    plan your menus and drop-downs wisely.
    */
  }
  /* line 30, ../scss/_481up.scss */
  .menu ul li a {
    /*
    you can use hover styles here even though this size
    has the possibility of being a mobile device.
    */
  }

  /* end .menu */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  /* line 75, ../scss/_481up.scss */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  /* line 79, ../scss/_481up.scss */
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  /* line 84, ../scss/_481up.scss */
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    display: inline;
    float: right;
  }
  /* line 90, ../scss/_481up.scss */
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  /* end .entry-content */
  /* line 99, ../scss/_481up.scss */
  #home-header {
    display: block;
  }

  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  /* end .footer-links */
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Grid Stylesheet

  I've seperated the grid so you can swap it out easily. It's
  called at the top the style.scss stylesheet.

  There are a ton of grid solutions out there. You should definitely
  experiment with your own. Here are some recommendations:

  http://gridsetapp.com - Love this site. Responsive Grids made easy.
  http://susy.oddbird.net/ - Grids using Compass. Very elegant.
  http://gridpak.com/ - Create your own responsive grid.

  The grid below is a combination of the 1140 grid and Twitter Boostrap.
  I liked 1140 but Boostrap's grid was way more detailed so I merged them
  together, let's see how this works out. If you want to use 1140, the original
  values are commented out on each line.

  ******************************************************************/
  /* line 24, ../scss/_grid.scss */
  .onecol {
    width: 5.801104972%;
  }

  /* 4.85%;  } /* grid_1  */
  /* line 25, ../scss/_grid.scss */
  .twocol {
    width: 14.364640883%;
  }

  /* 13.45%; } /* grid_2  */
  /* line 26, ../scss/_grid.scss */
  .threecol {
    width: 22.928176794%;
  }

  /* 22.05%; } /* grid_3  */
  /* line 27, ../scss/_grid.scss */
  .fourcol {
    width: 31.491712705%;
  }

  /* 30.75%; } /* grid_4  */
  /* line 28, ../scss/_grid.scss */
  .fivecol {
    width: 40.055248616%;
  }

  /* 39.45%; } /* grid_5  */
  /* line 29, ../scss/_grid.scss */
  .sixcol {
    width: 48.618784527%;
  }

  /* 48%;    } /* grid_6  */
  /* line 30, ../scss/_grid.scss */
  .sevencol {
    width: 57.182320438000005%;
  }

  /* 56.75%; } /* grid_7  */
  /* line 31, ../scss/_grid.scss */
  .eightcol {
    width: 65.74585634900001%;
  }

  /* 65.4%;  } /* grid_8  */
  /* line 32, ../scss/_grid.scss */
  .ninecol {
    width: 74.30939226%;
  }

  /* 74.05%; } /* grid_9  */
  /* line 33, ../scss/_grid.scss */
  .tencol {
    width: 82.87292817100001%;
  }

  /* 82.7%;  } /* grid_10 */
  /* line 34, ../scss/_grid.scss */
  .elevencol {
    width: 91.436464082%;
  }

  /* 91.35%; } /* grid_11 */
  /* line 35, ../scss/_grid.scss */
  .twelvecol {
    width: 99.999999993%;
  }

  /* 100%;   } /* grid_12 */
  /* line 38, ../scss/_grid.scss */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }

  /* line 44, ../scss/_grid.scss */
  .first {
    margin-left: 0;
  }

  /* line 48, ../scss/_grid.scss */
  .last {
    float: right;
  }

  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Tablet & Small Desktop Stylesheet

  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!

  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /* line 26, ../scss/_768up.scss */
  .wrap {
    max-width: 960px;
  }

  /*********************
  HEADER STYLES
  *********************/
  /* line 34, ../scss/_768up.scss */
  #homepage-inner-content .cobblestones-header {
    font-size: 1.4em;
  }

  /* line 38, ../scss/_768up.scss */
  #homepage-inner-content .programs-home-title {
    font-size: 1.6em;
    top: 0.5em;
  }

  /* line 44, ../scss/_768up.scss */
  header .search-form-wrapper {
    position: absolute;
  }
  /* line 47, ../scss/_768up.scss */
  header .search-form-wrapper .search-form #searchform {
    position: absolute;
  }

  /* line 60, ../scss/_768up.scss */
  #mobile-header-clear {
    display: none;
  }

  /* line 64, ../scss/_768up.scss */
  #menu-primary-menu {
    margin-left: 15.625em;
    background: rgba(0, 52, 121, 0.5);
  }

  /*********************
  NAVIGATION STYLES
  *********************/
  /* line 73, ../scss/_768up.scss */
  #mobile-menu {
    margin-left: 15.625em;
    margin-top: 0.375em;
    margin-bottom: 0.4375em;
    width: 12.5em;
  }

  /* line 80, ../scss/_768up.scss */
  #mobile-section-menu, #quick-links-menu {
    display: none;
  }

  /* line 84, ../scss/_768up.scss */
  #mini-donate-button {
    display: none;
  }

  /* line 89, ../scss/_768up.scss */
  .primary-nav-wrapper .logo {
    float: left;
    width: 14.1176470588em;
    top: -3.1em;
    left: -0.625em;
  }

  /*********************
  SIDEBARS & ASIDES
  *********************/
  /*********************
  LEFT SIDEBAR
  *********************/
  /* line 105, ../scss/_768up.scss */
  #left-sidebar {
    display: block;
  }

  /* line 109, ../scss/_768up.scss */
  .sidebar {
    margin-top: 2.2em;
  }

  /* line 113, ../scss/_768up.scss */
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }

  /* line 118, ../scss/_768up.scss */
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  /* line 123, ../scss/_768up.scss */
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  /* line 131, ../scss/_768up.scss */
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }

  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  /* line 239, ../scss/_768up.scss */
  .footer-links ul li {
    /*
    be careful with the depth of your menus.
    it's very rare to have multi-depth menus in
    the footer.
    */
  }

  /* end .footer-links */
  /*********************
  HOMEPAGE STYLES
  *********************/
  /*********************
  SLIDESHOW STYLES
  *********************/
  /* line 264, ../scss/_768up.scss */
  #home-slideshow-wrapper #home-slideshow .slide img {
    width: auto;
  }

  /* line 271, ../scss/_768up.scss */
  .caption-wrapper {
    display: block;
  }

  /*********************
  HOMEPAGE STYLES
  *********************/
  /*********************
  HEADER STYLES
  *********************/
  /* line 282, ../scss/_768up.scss */
  header.home {
    position: relative;
  }

  /* line 287, ../scss/_768up.scss */
  nav.home {
    width: 100%;
    height: 4.375em;
    z-index: 1000;
    background-color: #003479;
    background: rgba(0, 52, 121, 0.5);
    background-color: #234F33;
    background: rgba(35, 79, 51, 0.9);
    position: absolute;
    top: 3.3125em;
  }
  /* line 299, ../scss/_768up.scss */
  nav.home ul {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 306, ../scss/_768up.scss */
  #menu-primary-menu {
    display: none;
  }

  /*********************
  SLIDESHOW STYLES
  *********************/
  /* line 313, ../scss/_768up.scss */
  #home-slideshow-wrapper {
    height: 29.875em;
  }

  /*********************
  CONTENT STYLES
  *********************/
  /* line 321, ../scss/_768up.scss */
  #sponsors-and-partners h3 {
    font-size: 2.8125em;
  }

  /* line 326, ../scss/_768up.scss */
  .hentry {
    margin-bottom: 7.875em;
  }

  /* line 330, ../scss/_768up.scss */
  .archive-listing {
    margin-bottom: 1.5em;
  }

  /* line 334, ../scss/_768up.scss */
  .sponsors-listing {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  /* line 338, ../scss/_768up.scss */
  .sponsors-listing img {
    max-width: 150px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  /* line 344, ../scss/_768up.scss */
  .sponsors-listing .entry-content {
    padding: 10px 20px;
  }

  /* line 349, ../scss/_768up.scss */
  .page-title, .archive-title {
    font-size: 2.0em;
  }

  /* line 353, ../scss/_768up.scss */
  .featured-image {
    float: right;
  }

  /* line 357, ../scss/_768up.scss */
  #ll-bean-logo, #mobile-enews-signup {
    display: none;
  }

  /*********************
  FOOTER STYLES
  *********************/
  /* line 366, ../scss/_768up.scss */
  .footer-contact .social-media {
    float: right;
  }
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Desktop Stylsheet

  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop.

  ******************************************************************/
  /* line 12, ../scss/_1030up.scss */
  #homepage-inner-content .cobblestones-header {
    font-size: 1.8em;
    top: 0.3em;
  }
  /* line 16, ../scss/_1030up.scss */
  #homepage-inner-content .programs-home-title {
    font-size: 2.125em;
    top: 0.19em;
  }

  /* line 22, ../scss/_1030up.scss */
  #menu-primary-menu {
    display: block;
    width: 100%;
    background: none;
  }

  /* line 28, ../scss/_1030up.scss */
  #mobile-menu {
    display: none;
  }

  /* line 32, ../scss/_1030up.scss */
  .primary-nav-wrapper {
    width: 57.42em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    font-family: "Proxima N W15 Reg";
    font-weight: bold;
    line-height: 1.3em;
    font-size: 1.045em;
  }
  /* line 43, ../scss/_1030up.scss */
  .primary-nav-wrapper li {
    float: left;
    position: relative;
  }
  /* line 47, ../scss/_1030up.scss */
  .primary-nav-wrapper ul {
    border: 0;
    margin: 0;
  }
  /* line 50, ../scss/_1030up.scss */
  .primary-nav-wrapper ul li {
    margin-right: 0.3em;
    max-width: 9em;
    /* showing sub-menus */
  }
  /* line 54, ../scss/_1030up.scss */
  .primary-nav-wrapper ul li a {
    height: 4.1866028708em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.9em;
    color: #fff;
    text-decoration: none;
    display: block;
  }
  /* line 62, ../scss/_1030up.scss */
  .primary-nav-wrapper ul li a:visited:hover, .primary-nav-wrapper ul li a:hover, .primary-nav-wrapper ul li a:focus {
    color: #fff;
    text-decoration: none;
  }
  /* line 68, ../scss/_1030up.scss */
  .primary-nav-wrapper ul li ul.sub-menu,
  .primary-nav-wrapper ul li ul.children {
    -webkit-box-shadow: 0em 0.125em 0.25em rgba(51, 51, 51, 0.7);
    -moz-box-shadow: 0em 0.125em 0.25em rgba(51, 51, 51, 0.7);
    box-shadow: 0em 0.125em 0.25em rgba(51, 51, 51, 0.7);
    background-color: #dde7be;
    font-size: 0.875em;
    margin-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
    width: 15.25em;
    padding-top: 0.9515625em;
    padding-bottom: 0.9515625em;
  }
  /* line 79, ../scss/_1030up.scss */
  .primary-nav-wrapper ul li ul.sub-menu li,
  .primary-nav-wrapper ul li ul.children li {
    width: 15.25em;
    max-width: none;
  }
  /* line 82, ../scss/_1030up.scss */
  .primary-nav-wrapper ul li ul.sub-menu li a,
  .primary-nav-wrapper ul li ul.children li a {
    height: auto;
    padding-top: 0.625em;
    padding-left: 0.6796875em;
    padding-bottom: 0.625em;
    border-right: 0;
    display: block;
    width: 15.25em;
    color: #003479;
  }
  /* line 92, ../scss/_1030up.scss */
  .primary-nav-wrapper ul li ul.sub-menu li a:hover, .primary-nav-wrapper ul li ul.sub-menu li a:focus,
  .primary-nav-wrapper ul li ul.children li a:hover,
  .primary-nav-wrapper ul li ul.children li a:focus {
    color: #fff;
    background-color: #61865a;
  }
  /* line 103, ../scss/_1030up.scss */
  .primary-nav-wrapper ul li:hover ul {
    top: auto;
    display: block;
  }
  /* line 108, ../scss/_1030up.scss */
  .primary-nav-wrapper ul li.last-menu-item {
    margin-right: 0;
  }
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Super Large Monitor Stylesheet

  You can add some advanced styles here if you like. This kicks in
  on larger screens.

  ******************************************************************/
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Retina Screens & Devices Stylesheet

  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.

  ******************************************************************/
  /*

  EXAMPLE
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:

  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }

  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:

  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }

  So, you would create the same icon, but at double the resolution, meaning
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go.

  */
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Print Stylesheet

  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.

  ******************************************************************/
  /* line 15, ../scss/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 23, ../scss/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 31, ../scss/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 35, ../scss/_print.scss */
  #mobile-section-menu {
    display: none;
  }

  /* line 39, ../scss/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 44, ../scss/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 48, ../scss/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 52, ../scss/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 60, ../scss/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 66, ../scss/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 75, ../scss/_print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }

  /* line 120, ../scss/style.scss */
  .search-form-wrapper {
    display: none;
  }

  /* line 124, ../scss/style.scss */
  #left-sidebar {
    display: none;
  }
}
.foac-merch-list{
    width: 100%;
    padding: 10px 0;
    border-top: 2px solid #234f33;
    margin-top: 20px;
    height: auto;
    max-height: 100%;
}

.foac-merch-list .item{
    width: 158px;
    max-width: 158px;
    height: 200px;
    min-height: 230px;
    max-height: 230px;
    float: left;
    margin: 10px;
    padding: 20px 10px;
    border: 1px solid #234f33;
    text-align: center;
    box-shadow: 8px 7px 6px #ccc;
    margin-bottom: 35px;
    overflow: hidden;
  }

.foac-merch-list .item img{
  max-height: 150px;
}
.foac-merch-search .input-group{
  margin:  0 auto;
  padding: 10px;
  max-width: 400px;
}

.foac-merch-search .input-group input, select{
  border-color: #234f33;
  width: 200px;
  outline-color: transparent;
}
.foac-merch-search .input-group input[type='submit']{
  max-width: 80px;
}
.foac-merch-search .submit{
  position: relative;
  padding: 5px;
  float: right;
  right: 10px;
  bottom: 10px;
}
.foac-merch-search .btn-foac-merch-seach{
  padding: 5px;
  background-color: #234f33;
  color: #fff;
  clear: both;
  border-style: none;
  outline: 0;
}

.foac-events {

}
.foac-events .green{
  background-color: #234F33;
}
.foac-events .btn{
  padding: 5px 20px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  border: 0;
}
.foac-events .large{
  font-size: 1.3em;
}

.foac-events h2{
  font-size: 1.35em;
  font-weight: normal;
}
.foac-events .submit{
  float: right;
  clear: both;
  display: block;
  padding: 10px;
  font-size: 1.1em;

}
.foac-search-block{
    border-bottom:  2px solid #234F33;
   /* border-top:  1px solid #234F33;
    border-left:  1px solid #234F33;
    border-right:  1px solid #234F33;*/
    margin-bottom: 10px;
}
.foac-events.search{
   border-left:  1px solid #234F33;
   padding-left: 10px;

}


.foac-events .foac-event-search .input-group{
  padding: 10px;
}
.foac-events .foac-event-search .input-group select,
.foac-events .foac-event-search .input-group input{
  border-color: #234F33;

}

.foac-events .foac-event-search .input-group.submit{

}

.foac-events .event-list{
  padding: 10px 0;

}

.foac-events .event-list .list-item{
  border-bottom: 1px solid #234F33;
  padding: 10px 0;

}

.foac-events .event-list .list-item .event-title{
  width: 100%;
  padding: 10px 0;
  font-family: "Optima LT W01";
  font-weight: normal;
}

.foac-events .event-list .list-item .event-details{
  width: 100%;
  position: relative;
}

.foac-events .event-list .list-item .event-details .list-image{
  float: left;
  padding: 0 25px 0 0;
}
.foac-events .event-list .list-item .event-details .list-image img{
  max-width: 150px;
}

.foac-events .event-list .list-item .event-details .details{

}


.foac-events .event-list .list-item .event-details .details .date{
  padding: 5px 0;
  font-weight: bold;
}
.foac-events .event-list .list-item .event-details .details .text{

}
.foac-home-events .list{
  margin-bottom: 10px!important;

}
.foac-home-events .list .event-title{
  font-size: 1.25em!important;
}

.foac-events-calender{

}
.foac-events-calender table{
  width: 100%;
}


.foac-events-calender table tr td {
  padding: 5px;
  border: 1px solid #efe;
}
.foac-events-calender table tr td.no-event{
  color: #efefef;
}
.foac-events-calender table tr td.event{
  background-color: #ebebeb;
}

.foac-events-calender table tr td a{
  color: #000;
}
.sponsors-single-events-list{
  padding: 5px 0;

}
.sponsors-single-events-list h3{
  font-size: 1.3em;
  line-height: 1.2em;
}

.sponsors-single-events-list span{
  font-size: .89em;
  color: #000;
}
.page-template-merchandise-template .entry-content  h2{
  font-weight: normal;
}

.clearfix{
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
  }

.clearfix:after {
    clear: both;
  }

