/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
INCLUDE COMPASS MIXINS
*********************/
@import "compass";
@import "compass/css3";
@import "compass/css3/box-shadow";

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: #333333;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}

}

a.arrow:after {
    content: " \00BB";
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $minion-pro;
	text-rendering: optimizelegibility;
	font-weight: 500;

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
    margin: 0;
	font-size: 1.75em;
	color: #4A7729;
	font-weight: bold;
}

h3, .h3 {
    margin: 0;
	font-size: 1.75em;
    font-weight: normal;
    color: #4A7729;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
	color: #4A7729;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

header {
	.search-form-wrapper {
        // position: absolute;
        width: 100%;
        z-index: 800;
        .search-form {
            width: 60em;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            #searchform {
                // position: absolute;
                margin-bottom: 0.625em;
                right: 0;
                margin-top: 0.625em;
                #s {
                    background-image: url('../images/search-magnifying-glass.png');
                    background-repeat: no-repeat;
                    background-position: 0.25em 0.3125em;
                    width: 9.1875em;
                    height: 1.875em;
                    padding-top: 0.25em;
                    padding-bottom: 0.25em;
                    padding-left: 1.6875em;
                    color: #ccc;
                }
                #searchsubmit {
                	color: #fff;
                	height: 1.875em;
                	padding-top: 0.25em;
                    padding-bottom: 0.25em;
                	text-align: center;
                	background-color: #234f33;
                	border: 0;
                	/*@include background-image(linear-gradient(#4e72a1, #174784));*/
                }
            }
        }
    }
}

header.interior {
    position: relative;
}

#page-banner {
    width: 93.75em;
    max-width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#menu-primary-menu {
	width: 18.75em;
	margin-top: 0;
	background-color: #003479;
}

.primary-nav-wrapper {
	ul {
		li {
			a {
				color: #fff;
				display: block;
				padding: 0.5em;
				text-decoration: none;
				&:hover {
	    			background-color: #346796;
	    			background-color: #234F33;
	    			color: #fff;
	    			text-decoration: underline;
	    		}
	    	}
		}
	}
	.sub-menu {
		display: none;
	}
}

#mobile-menu, #mobile-section-menu, #quick-links-menu {
	cursor: pointer;
	font-family: $proxima;
	border: 0.625em #667a96 solid;
	padding-top: 0.8em;
	color: #fff;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	background-color: #c7cf40;
	@include background-image(linear-gradient(#c7cf40, #96b53f));
	a {
		color: #fff;
		text-decoration: none;
		display: block;
		&:hover,
		&:focus {
			color: #fff;
			text-decoration: underline;
		}
	}
}

#mobile-section-menu-items, #quick-links-menu-items {
	display: none;
	ul {
		margin: 0;
		background-color: #003479;
		li {
			ul {
				padding-left: 0.8em;
			}
		}
		a {
			display: block;
			color: #fff;
			padding: 0.8em;
			text-decoration: none;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.breadcrumbs {
    font-size: 0.75em;
    color: #999999;
    margin-top: 0.875em;
    margin-bottom: 1.0625em;
    text-transform: uppercase;
    a {
        color: #234f33;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

#menu-primary-menu {
	max-width: 100%;
}

.primary-nav-wrapper {
	.logo {
    	float: left;
    	position: relative;
    	top: -0.25em;
    	margin-right: 0.625em;
    	width: 9em;
    	img {
    		max-width: 100%;
    		height: auto;
    	}
    }
}

#home-header {
    display:none;
}

#mini-donate-button {
	margin-top: 0.4em;
	float: left;
	a {
		padding-left: 0.3125em;
		padding-right: 0.3125em;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#container {
	max-width: 100%;
}

.how-you-can-help {
	clear: both;
	padding: 0.5em;
	border: 0.625em #a4ce9c solid;
	margin-bottom: 0.625em;
}

.article-listing {
	font-size: 0.9375em;
	color: #333333;
	article {
		margin-bottom: 1.5771484375em;
		header {
			h3 {
				font-size: 1.1em;
				color: #0047a5;
				line-height: 1.2em;
				padding: 0;
				margin: 0;
				font-weight: bold;
				a {
					color: #0047a5;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.photo {
			margin-top: 0.3154296875em;

		}
		footer {
			font-size: 0.8em;
			color: #666666;
		}
	}
	.archive-link {
		text-align: center;
		color: #8da1cc;
		a {
			color: #A3AF07;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
		img {
			position: relative;
			top: 0.126171875em;
			margin-left: 0.883203125em;
		}
	}
}

.newsroom-category {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

#page-content {
    font-size: 1em;
}

.padding-for-bottom {
	height: 4em;
}

#inner-content {
	overflow: hidden;
}

#content {
	/*background-image: url('../images/content-background-interior.gif');
	background-position: bottom;
	background-repeat: repeat-x;*/
}

	#main {
		margin-bottom: 7.875em;
	}

		.hentry {

		} /* end .hentry */

		article.archive-page {
			margin-bottom: 0;
		}

		.single-title,
		.page-title-wrapper {
		    background-color: #b9ccd5;
            padding-left: 0.625em;
            background-color: #234F33;
		}
        .page-title, .archive-title {
        	font-family: $optima;
            font-size: 1.5em;
            text-transform: uppercase;
            color: #fff;
		    margin: 0;
		    margin-bottom: 1.25em;
            position: relative;
            top: 0.35em;
		}

        .featured-image {

            margin-left: 1.25em;
            margin-bottom: 1.25em;
            line-height: 0;
            img {
                margin: 0;
            }
            .featured-image-caption {
            	margin: 0;
            	padding: 0.875em;
            	color: #fff;
            	background-color: #62845a;
            	font-size: 1.25em;
            	line-height: 1.4em;
            	a {
            	    color: #fff;
            	    &:hover {
            	        text-decoration: none;
            	    }
            	}
            }
        }

		/* post meta */
		.byline {
			color: #999;
			margin-top: 0.3em;
			margin-bottom: 0.625em;
			line-height: 0.5em;
			time {}
		}

		.archive-listing {
			margin-bottom: 2em;
		}

		.insertaside {
			width: 25em !important;
		}

		/* entry content */
		.entry-content {

			h2 {
				font-family: $optima-bold;
			}

			h3 {
				font-family: $optima;
				line-height: 1.2em;
			}

			h4 {
				font-family: $optima;
			}

			p {}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {
				list-style-type: disc;
				margin-left: 3.125em;
				li {}
			}

			ol {
				margin-left: 3.125em;
				list-style-type: decimal;
				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				//margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {
				border: 0.625em #e0e6df solid;
			}
			.alignnone, img.alignnone {
				border: 0.625em #e0e6df solid;
			}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 0.625em;
            background-color: #e0e6df;
            line-height: auto;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.875em;
				margin: 4px 0 7px;
                color: #666666;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

#ll-bean-logo {
	position: relative;
	text-align: center;
	margin-bottom: 2.0em;
}

#mobile-enews-signup {
	margin-bottom: 2em;
}

#foa-journal-archive-table {
	td {
		padding: 0.625em;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;
			margin-left: 4em;
			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
FORM STYLES
*********************/
span.wpcf7-list-item {
	display: block;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
LEFT SIDEBAR
*********************/
#left-sidebar {

	#foa_sidebar {
		width: 11.25em;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		.journal-cover {
			position: absolute;
			right: 0;

		}
		.foa_sidebar_text {
			position: absolute;
			bottom: 0;
			left: 0.78125em;
			width: 10.234375em;
			z-index: 500;
			color: #fff;
			padding: 0.625em;
			font-size: 0.8em;
			background-color: #6b809f;
			background: rgba(107, 128, 159, 0.75);
			a {
				color: #fff;
			}
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}
	display: none;
	/*background-color: #819bbd;
	@include background-image(linear-gradient(#819bbd, #65825c));*/
	background-color:#728d86;
	background-color:#4A7729;

	.content {
    	padding: 0px 20px 20px 20px;
    	color:#fff;
    	font-family:$proxima;

    	h2 {
        	font-family:'Optima LT W01 Roman';
    	}

    	p {
        	font-size:.9em;
        	line-height: 1.3em;
    	}
	}

	.button-wrap {
		margin-top: 1.875em;
		margin-bottom: 1.875em;
	}

	.sidenav-spacing {
		margin-top: 1.9em;
	}

	.social-media {
		overflow: hidden;
		div {
			float: left;
			margin-right: 0.4615384615em;
		}
	}

	.side-nav {
		font-family: $proxima;
		margin-top: 1.9em;
		margin-bottom: 3.875em;

		.current-menu-item > a {
			background-image: url('../images/sidebar/nav-rollover-2.png');
			background-repeat: no-repeat;
			background-position: left center;
		}

		ul {
			padding-top: 3px;
			padding-bottom: 10px;
			margin: 0;
			background-color:#4a7729;
			li {
				a {
					padding-left: 20px;
					padding-right: 20px;
				}
				font-size: 16px;
				font-weight: bold;

				ul {
					padding-top: 0;
					li {
						font-weight: normal;
						font-size: 14px;
						ul {
							li {
								a {
									padding-left: 40px;
								}
								ul {
									li {
										a {
											padding-left: 60px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		a {
			background-image: none;
			display: block;
			padding-top: 3px;
			padding-bottom: 3px;
			color: #fff;
			text-decoration: none;
			background-color:#4a7729;
			&:hover,
			&:focus,
			&:active {
				background-image: url('../images/sidebar/nav-rollover-2.png');
				background-repeat: no-repeat;
				background-position: left center;
			}
		}
	}

}

.blue-button {
	font-family: $proxima;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.875em;
	background-color: #295083;
	margin-top: 0.9375em;
	margin-left: 1.25em;
	margin-right: 1.25em;
	span.lower-case {
		text-transform: lowercase;
	}
	a {
		display: block;
		padding-top: 0.5em;
		padding-bottom: 0.35em;
		color: #fff;
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.donate-button {
	font-family: $proxima;
	border: 10px #667a96 solid;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 17px;
	padding-top: 0.5625em;
	padding-bottom: 0.4em;
	color: #fff;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	background-color: #1c1475;
	/*@include background-image(linear-gradient(#c7cf40, #96b53f));*/
	a {
		color: #fff;
		text-decoration: none;
		display: block;
		&:hover,
		&:focus {
			color: #fff;
			text-decoration: underline;
		}
	}

	.smaller {
    	display:block;
    	margin-top:2px;
    	font-size:12px;
	}
}

.charity-awards {
	text-align: center;
	overflow: hidden;
	margin-bottom: 70px;
	div {
		display: inline;
		margin-right: 8px;
	}
	.no-margin {
		margin-right: 0;
	}

}

.foa-journal {
	width: 184px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	.blurb {
		font-family: $proxima-condensed;
		font-size: 14px;
		color: #fff;
	}
}

.foa-journal-button {
	font-family: $proxima;
	text-align: center;
	color: #fff;
	font-size: 0.875em;
	margin-left: 1.4285714286em;
	margin-right: 1.4285714286em;
	padding-top: 0.7142857143em;
	padding-bottom: 0.5em;
	@include background-image(linear-gradient(#829f61, #3d7250));
	a {
		color: #fff;
		text-decoration: none;
		display: block;
		&:hover,
		&:focus {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.enews-signup {
	font-family: $proxima;
	text-align: center;
	color: #fff;
	font-size: 0.875em;
	margin-top: 3.9285714286em;
	margin-left: 1.4285714286em;
	margin-right: 1.4285714286em;
	padding-top: 0.7142857143em;
	padding-bottom: 0.5em;
	@include background-image(linear-gradient(#829f61, #3d7250));
	a {
		color: #fff;
		text-decoration: none;
		display: block;
		&:hover,
		&:focus {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.be-a-friend {
	color: #fff;
	background-image: url('../images/sidebar/be-a-friend-background.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	height: 257px;
	width: 220px;
	max-width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	h4 {
		color: #fff;
		font-family: $optima;
		font-size: 35px;
		margin-top: 15px;
		font-weight: normal;
	}
	.volunteer-button-wrapper {
		font-family: $proxima;
		position: absolute;
		bottom: 0.5em;
		width: 12.5em;
		max-width: 90%;
		margin-left: 0.625em;
		padding: 0.625em;
		font-size: 1em;
		text-transform: uppercase;
		background-color: rgba(0, 0, 0, .2);
		.volunteer-button {
			font-family: $proxima;
			@include background-image(linear-gradient(#c7cf40, #3d7250));
			a {
				display: block;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				color: #ffffff;
				text-decoration: none;
				&:hover {
					color: #ffffff;
					text-decoration: underline;
				}
			}
		}
	}
}

/*********************
EMAIL SIGNUP LINK
*********************/
#enews-bottom {
	// margin-top: 2.125em;
	position: absolute;
	bottom: 0;
	h3 {
		font-size: 2.8125em;
		color: #d3dddd;
		padding: 0;
		margin: 0;
		line-height: 1em;
		text-transform: uppercase;
		position: relative;
		top: 0.1333333333em;
	}
	section {
        padding-top: 0.2222222222em;
        padding-left: 5.1875em;
		height: 5.0625em;
        p {
            margin-top: 0;
            padding: 0;
            font-size: 0.875em;
        }
        .email-signup-button {
            a {
                display: inline;
                padding: 0.625em 1.25em;
                font-size: 0.875em;
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
                text-align: center;
                display: inline;
                background-color: #3d7250;
                @include background-image(linear-gradient(#829f61, #3d7250));
                &:hover {
                    text-decoration: underline;
                }
            }
        }
	}
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: #335d94;
	background-color: #234F33
}

	#inner-footer {
		font-family: $proxima-condensed;
		/*background-image: url('../images/footer/trees.png');
		background-repeat: no-repeat;
		background-position: top right;*/
	}

	.footer-contact {
		font-family: $proxima;
		font-size: 0.8125em;
		margin-top: 2.0769230769em;
		padding: 1.5384615385em 0.9230769231em 1.6923076923em 1.9230769231em;
		border: 0.6923076923em #284c80 solid;
		background-color: #1d3b6d;
		background-color: #234F33;
		background-color: #4A7729;
		border-color: #A3AF07;
		color: #fff;
		.social-media {
			overflow: hidden;
			div {
				float: left;
				margin-right: 0.4615384615em;
			}
		}
		h5 {
			font-family: $optima;
			font-size: 1.7em;
			line-height: 1.1em;
			margin-top: 0.4em;
			margin-bottom: 0.75em;
		}
		.links {
			margin-top: 0.3846153846em;
		}
		a {
			color:#A3AF07;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */

	.footer-nav {
		margin-top: 1.9285714286em;
		font-size: 0.875em;
		ul {
			font-weight: bold;
			li {
				margin-bottom: 0.9285714286em;
			}
			ul {
				font-weight: normal;
				margin: 0;
				margin-left: 1.0714285714em;
				li {
					margin-bottom: 0;
				}
			}
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}


	.copyright {
		text-align: right;
		margin-right: 5.4545454545em;
		color: #fff;
		font-size: 0.6875em; /* 11px */
		padding-bottom: 0.4545454545em;
	}


/*********************
HOMEPAGE STYLES
*********************/

/*********************
HEADER STYLES
*********************/
header.home {
    // height: 29.875em;
    position: relative;
}

nav.home {
    width: 100%;
    height: 4.375em;
    z-index: 1000;
    background-color: #003479;
    background: rgba(0, 52, 121, .5);
    position: absolute;
    top: 3.3125em;
    ul {
        width: 60em;
        margin-left: auto;
        margin-right: auto;
    }
}

#menu-primary-menu {
	display: none;
}

/*********************
SLIDESHOW STYLES
*********************/
#home-slideshow-wrapper {
    max-width: 100%;
    height: 12em;
    height: 15em;
    position: relative;
    overflow: hidden;
    #home-slideshow {
    	width: 93.75em;
    	max-width: 100%;
    	margin-left: auto;
    	margin-right: auto;
    	position: relative;
    	.slide {
    		position: absolute;
    		z-index: 600;
    		display: none;
    		img {
    			width: 100%;
    			height: auto;
    		}
    	}
    	#slide1 {
    		display: block;
    	}
    }
}

.caption-wrapper {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 700;
	.caption-box {
		width: 60em;
		max-width: 100%;
		height: 29.875em;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.caption {
		position: absolute;
		left: 0;
		bottom: 0;
		text-align: left;
		width: 13.75em;
		background: rgb(0, 52, 121);
		background: rgba(0, 52, 121, 0.6);
		background: rgba(35, 79, 51, .9);
		.caption-text {
			color: #fff;
			font-family: $proxima-condensed;
			font-size: 0.875em;
			padding-top: 1.5625em;
			padding-left: 0.9375em;
			padding-right: 2.5em;
			position: relative;
			.text {
				display: none;
				a {
					color: #fff;
					text-decoration: underline;
					&:hover,
					&:focus {
						text-decoration: none;
					}
				}

			}
			#slideshow-caption1 {
				display: block;
			}
		}
		.home-slideshow-nav {
			background-image: url('../images/caption-drop-shadow.png');
			background-repeat: no-repeat;
			background-position: bottom;
			padding-top: 1.75em;
			padding-left: 1.25em;
			padding-right: 1.25em;
			padding-bottom: 0.5em;
			overflow: hidden;
			div {
				width: 0.875em;
				height: 1.3125em;
				cursor: pointer;
			}
			.left {
				float: left;
			}
			.right {
				float: right;
			}
		}
	}
}

/*********************
CONTENT STYLES
*********************/
#content.home {
	/*background-image: url('../images/content-background.gif');
	background-position: bottom;
	background-repeat: repeat-x;*/
}

#homepage-inner-content {
	.threecol, .ninecol {
		padding-top: 1.625em;
	}
	.home-section-title {
		background-color: #b9ccd5;
		background-color: #234F33;
		border-top: 0.5625em #dce5ea solid;
		border-top: 0.5625em #4A7729 solid;
		padding-top: 0.5em;
		padding-left: 0.5em;
		text-transform: uppercase;
		margin-bottom: 1.5625em;
		max-width: 100%;
		height: 3.1em;
	}
	h2 {
		font-family: $optima;
		font-size: 1.8em;
		color: #fff;
		padding: 0;
		margin: 0;
		line-height: 1em;
		position: relative;
		top: 0.19em;
		max-width: 100%;
		height: auto;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	#home-header {
    	font-family: $proxima, $sans-serif;
    	font-size: 1.6em;
    	margin-bottom: 1em;
    	color:#4A7729;
	}

    #home-content-column {

        article	{
            a {
                text-decoration: none;
                text-align:center;
            }

        }

        article.partner {
                .blurb {
                    padding-top:10px;
                    padding-bottom:10px;
                }
                a.arrow {
                    float:right;
                }
            }
    }

}

.event-poster {
	margin-bottom: 2em;
}

#program-listings {
	margin-bottom: 2.5em;
	.program-intro {
		font-size: 0.875em;
		margin-bottom: 1.25em;
	}
	.program-title {
		margin-bottom: 0.625em;
	}
}

#blog-listings {
	.home-section-title {
		margin-bottom: 0;
	}
	h4 {
		font-family: $proxima;
		margin: 0;
		margin-bottom: 1.125em;
		padding: 0;
		color: #cacaca;
		font-size: 0.9375em;
		font-weight: normal;
		text-align: center;
	}
}

#sponsors-and-partners {
    background-color:#d3dddd;


    .left-column {
        padding:20px 0px 0px 0px;

        h3 {
            font-family: $proxima;
            font-size:1em;
            line-height:normal;
            color: #234f33;
            text-transform: uppercase;
        }

        a {
            font-family: $proxima;
            text-decoration: none;
        }
    }

	.logos {
		/*height: 8.875em;*/
		display:table;
		text-align: center;
		padding:20px 0px;

		div {
			display: table-cell;
			vertical-align: middle;
		}

		img {
    		width:50%;
    		height:auto;
    		max-height:100px;
    		width:auto;
		}
	}
}

body.single-sponsors {
    .entry-content {
        img {
            display:block;
            margin:0px auto;
            margin-bottom: 20px;
        }
    }
}

.timeline {
    height: auto!important;
    background-image:none!important;
}

.timeline .issues li {
    height: auto!important;
}

.timeline ul.dates {
    display:none!important;
}